/******************************************
Resets*************************************
******************************************/

body {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/******************************************
Header*************************************
******************************************/

header {
  width: 100vw;
  position: fixed;
  height: 10vh;

  nav {
    display:flex;
    flex-direction: row;
    font-size: 2vw;
    background-color: rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;



    ul {
      display: flex;
    	flex-direction: row;

      li {
        display: flex;
        flex-direction: row;
        list-style:none;
        width: 30%;
        margin:0 10px;

        a {
          display: flex;
          flex-direction: column;
          font-size:18px;
          justify-content: center;
          text-decoration: none;
          color: white;
          height: 30px;
          padding: 5px;

          &:hover {
            background-color: rgba(255,255,255,.5);
            transition: .1s, ease-in;
          }
        }
      }
    }
  }
}

.phoneImage {
  width: 40px;
  height: 40px;
}

/******************************************
CTA****************************************
******************************************/

#CtaWelcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image:url('../images/blurry_night.png');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  margin:0 auto;
  width: 100vw;
  height: 88vh;

  #CtaText {
    width: 100%;
    font-size: 7vw;
    height: 10vh;
    margin-top: 12vh;
    text-align: center;
  }

  #CtaCallToAction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 50vh;

    h2 {
      font-size: 5vw;
      text-align: center;
      margin-top: 40px;
      margin-bottom:10%;
    }

    #CtasubText {
      text-align: center;
      font-size:6vw;
      width: 100%;
    }
  }
}

.MainCtaButton {
  display: block;
  text-decoration:none;
}

.TemplateButton {
  background-color: rgba(250,109,54,1);
  padding: 30px;
  color: white;
  text-align: center;
}

.displayNo {
  display: none;
}

.displayYes {
  display: display;
}

/******************************************
PORTFOLIO**********************************
******************************************/

#portfolio {
  display: flex;
  flex-direction: column;
  background-image:url('../images/blurry_night.png');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  margin:0 auto;
  padding-bottom:8vh;
  width: 100vw;
  min-height: 80vh;
  text-align: center;

  h3 {
    margin-top:12vh;
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 13px;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  button {
    background-color: orange;
    border: 0;
    width:100%;
    height: 7vh;
    margin-top: 1vh;
  }

  .portfolio-title {
    margin-top: 4.5vh;
    margin-bottom: 1vh;
  }

  .portfolio-pieces {
    width: 80%;
    margin: 0 auto;
  }

  .heartImage {
    width:6vw;
    height: 6vw;
    margin: 0 5px;
  }
}

/******************************************
Contact Page*******************************
******************************************/

#contact {
  display: flex;
  flex-direction: column;
  background-image:url('../images/blurry_night.png');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  margin:0 auto;
  padding-top:20vh;
  width: 100vw;
  min-height: 80vh;
  text-align: center;

  .phoneImage {
    width: 20vw;
    height: 20vw;
    padding-bottom: 3vh;

    a {

    }
  }

  .mailImage, .linkedinImage {
    width: 17vw;
    height: 17vw;
    padding-bottom: 3vh;
  }

  p {
    font-size:8vw;
  }

}

.wrapper {
  margin-top:30vh;
}

/******************************************
Footer*******************************
******************************************/

footer {
  display :flex;
  flex-direction:column;
  color: white;
  background-color: black;
  height: 12vh;
  justify-content: center;
  text-align: center;
}
