/******************************************
Resets*************************************
******************************************/

body {
  margin: 0;
}


/******************************************
Header*************************************
******************************************/

header {
  z-index: 5;
  width: 100vw;
  position: fixed;
}


nav a:hover {
  background-color: rgba(0,0,0,.5);
	transition: .1s, ease-in;
}

nav {
  display:flex;
  background-color: rgba(0,0,0,.2);
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 10px;

}

nav a {
	background-color: rgba(255,255,255,.7);
  font-size:20px;
  text-decoration: none;
  color: black;
  height: 30px;
  padding: 15px 30px 5px 30px;
}

nav ul {
	display: flex;
	flex-direction: row;
}

nav li {
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: center;
  width: 125px;
  margin-right:5px;
}

#daveCartoon {
  width:30px;
}


#CtaWelcome {
  display: flex;
  flex-direction: column;
  background-image:url('images/graph.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  margin:0 auto;
  width: 100%;
  height: 100vh;
}

#CtaCallToAction {

}

#CtaText {
  width: 100%;
  color: rgba(255,255,255,.9);
  font-size: 2.5vw;
  text-align: center;
  padding-left: 20px;
}

#CtaTextTop {
  padding-top:100px;
}

#CtasubText {
  font-style:italic;
  text-align: center;
}

#CtasubText p {
  margin: 0;
}

#CtasubText h3 {
  font-style:italic;
}

#CtaTextTop h1 {
  margin: 0;
}

.displayNo {
  display: none;
}

.displayYes {
  display:display;
}

.TemplateButton {
  background-color:blue;
  width:20vw;
  padding: 30px;
  color: white;
}


/******************************************
Portfolio Page*****************************
******************************************/

#portfolio {
  margin-top: -20px;
	background: rgba(0,0,0,.05);
	width:100%;
}
