/******************************************
Resets*************************************
******************************************/

body {
  margin: 0;
}


/******************************************
Header*************************************
******************************************/

header {
  border-bottom: 1px solid grey;
  position:fixed;
  z-index: 5;
  width: 100vw;
  height: 100px;
  margin-top: -20px;
  align-items: flex-end;
  background-color: rgba(255,255,255,.8);
}

header h1 {
	margin-top:0px;
}

nav a:hover {
  background-color: rgba(0,0,0,.5);
	transition: .1s, ease-in;
}

nav {
  display:flex;
  flex-direction: row;
  align-content: space-around;
}


nav a {
	background-color: rgba(0,0,0,.8);
  text-decoration: none;
  color: white;
  height: 50px;
  padding: 0 30px;
}

nav ul {
	display: flex;
	flex-direction: row;
  margin-top:30px;
}

nav li {
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: center;
  width: 200px;
  margin-right:10px;
}

#daveCartoon {
  width:30px;
  margin-top: -10px;
}


#CtaWelcome {
  background-image:url('images/cuttingboard.jpg');
  background-position:center;
  background-size:cover;
  margin:0 auto;
  margin-top: -20px;
  width: 100%;
  height: 100vh;
  text-align: left;
}

#CtaText {
  padding-left:15vw;
  width:40vw;
}

#CtaTextTop {
  padding-top:100px;
}

.displayNo {
  display: none;
}

.displayYes {
  display:display;
}


/******************************************
Portfolio Page*****************************
******************************************/

#portfolio {
  margin-top: -20px;
	background: rgba(0,0,0,.05);
	width:100%;
}
